---
---


<!DOCTYPE html>
<html lang="en">
<head id="home">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="assets/css/all.css">
    <link id="favicon" rel="shortcut icon" type="image/png" href="assets/img/foto.png" />
    <script src="assets/js/favico.js"></script>
</head>
<body>
{% include header.html %}

{% include about.html %}

{% include projects.html %}

{% include certificates.html %}

{% include contact.html %}

{% include footer.html %}


<script src="assets/js/aos.js"></script>
<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/function.js"></script>
<script src="assets/js/sweetalert.min.js"></script>
</body>
</html>