---
---

<!DOCTYPE html>
<html lang="en">

<head id="home">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134043782-1"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'GA_TRACKING_ID');
    </script>

    <!-- Google Tag Manager -->
    <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
			<!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
		<!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
		<!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
	<!--})(window,document,'script','dataLayer','GTM-P995QN4');</script>-->
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html">
    <meta name="description" content="{{ site.data.set.deskripsi }}">
    <meta name="language" content="english">
    <meta name="keyword" content="{{ site.data.set.keyword }}">
    <meta name="designer" content="{{ site.data.set.author }}">
    <meta name="author" content="{{ site.data.set.author }}">
    <link rel="publisher" href="{{ site.data.set.publisher }}">
    <meta name="theme-color" content="#{{ site.data.set.themeColor }}"/>
    <meta name="distribution" content="web">
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-title" content="My App"> <!-- New in iOS6 -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name="google-site-verification" content="6RziIE_ZhYMRcSOJtYpoYAYsnqTn0nUbLZS3nXgC2Hw" />
    <title>{{site.data.set.title}}</title>
    <link rel="stylesheet" href="../assets/css/resume.css">
    <link rel='stylesheet' href='../assets/css/swiper.min.css' type='text/css'>
    <link id="favicon" rel="shortcut icon" type="image/png" href="../assets/img/{{site.data.set.icon}}" />
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P995QN4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% include resume/header.html %}
    {% include resume/about.html %}
    {% include resume/experiences.html %}
    {% include resume/certificates.html %}
    {% include resume/interests.html %}
    {% include resume/contact.html %}
    {% include resume/footer.html %}


    <script src="../assets/js/pace.min.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/resume.js"></script>
    <script src="../assets/js/sweetalert.min.js"></script>
    <script src='../assets/js/swiper.min.js'></script>

    <!--below for local only otherwise comment it-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <!--above for local only otherwise comment it-->
</body>

</html>
