---
---

<!DOCTYPE html>
<html lang="en">

<head id="home">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html">
    <meta name="description" content="{{ site.data.set.deskripsi }}">
    <meta name="language" content="english">
    <meta name="keyword" content="{{ site.data.set.keyword }}">
    <meta name="designer" content="{{ site.data.set.author }}">
    <meta name="author" content="{{ site.data.set.author }}">
    <link rel="publisher" href="{{ site.data.set.publisher }}">
    <meta name="theme-color" content="#{{ site.data.set.themeColor }}"/>
    <meta name="distribution" content="web">
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-title" content="My App"> <!-- New in iOS6 -->
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name="google-site-verification" content="6RziIE_ZhYMRcSOJtYpoYAYsnqTn0nUbLZS3nXgC2Hw" />
    <title>{{site.data.set.title}}</title>
    <link rel="stylesheet" href="../assets/css/resume.css">
    <link rel='stylesheet' href='../assets/css/swiper.min.css' type='text/css'>
    <link id="favicon" rel="shortcut icon" type="image/png" href="../assets/img/{{site.data.set.icon}}" />
</head>

<body>
    {% include resume/header.html %}
    {% include resume/about.html %}
    {% include resume/experiences.html %}
    {% include resume/certificates.html %}
    {% include resume/interests.html %}
    {% include resume/contact.html %}
    {% include resume/footer.html %}


    <script src="../assets/js/pace.min.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/resume.js"></script>
    <script src="../assets/js/sweetalert.min.js"></script>
    <script src='../assets/js/swiper.min.js'></script>

    <!--below for local only otherwise comment it-->
    <!--<script type="text/javascript" src="http://livejs.com/live.js"></script>-->
    <!--above for local only otherwise comment it-->
</body>

</html>
