---
---

<!DOCTYPE html>
<html lang="en">

<head id="home">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.set.deskripsiseo }}">
    <meta rel="author" href="{{ site.data.set.author }}">
    <meta rel="publisher" href="{{ site.data.set.publisher }}">
    <meta name="theme-color" content="#9f3636"/>
    <title>{{site.data.set.title}}</title>
    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel='stylesheet' href='../assets/css/swiper.min.css' type='text/css'>
    <link id="favicon" rel="shortcut icon" type="image/png" href="../assets/img/{{site.data.set.icon}}" />
</head>

<body>
    {% include header.html %}
    {% include about.html %}
    {% include experiences.html %}
    {% include certificates.html %}
    {% include contact.html %}
    {% include footer.html %}


    <script src="../assets/js/pace.min.js"></script>
    <script src="../assets/js/aos.js"></script>
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/function.js"></script>
    <script src="../assets/js/sweetalert.min.js"></script>
    <script src='../assets/js/swiper.min.js'></script>

    <!--below for develop only otherwise comment it-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    <!--above for dev only otherwise comment it-->
</body>

</html>
