<section class="tess">
<div class="title">
	<h1 >Main Menu</h1>
	<h5 >Choose menu you want to view</h5>
</div>

	<style>:root { --n: 4 }</style>
{% for m in site.data.set.index %}
	<a class="link" href="{{m.link}}" target="_blank" style="text-decoration: none; color: unset">
		<article class="artikel" data-icon="{{m.ikon}}" style="--c0: #{{m.warna1}}; --c1: #{{m.warna2}};">
			<h3 class="option"></h3>
			<h4 class="judulMenu">{{m.judul}}</h4>
			<p class="menu-paragraf">{{m.konten}}</p>
		</article>
	</a>
{% endfor %}
<!--
	<a class="link"><article class="artikel" data-icon="🍐" style="&#45;&#45;c0: #86ed26; &#45;&#45;c1: #00c062;
								 &#45;&#45;idx: 3;">
		<h3 class="option"></h3>
		<h4 class="judulMenu">lava cake</h4>
		<p class="menu-paragraf">Cake cookie lemon drops muffin sugar plum. Liquorice pudding sugar plum topping macaroon pie chocolate.</p>
	</article></a>-->
	<!-- inspired by Ana Tudor's design-->
</section>
