<section class="about">
<h3 data-aos="fade-down" data-aos-easing="ease-in" id="about-me">About Me</h3>

<div data-aos="slide-up" data-aos-easing="ease-out" class="foto"></div>

<div data-aos="zoom-in-up" data-aos-easing="ease-in-out-sine" class="bio">
    {% for a in site.data.set.bio %}
    <p class="isi-bio">{{ a.isi }}</p>
    {% endfor %}
</div>

<div class="skill">

    {% for a in site.data.set.skill %}
    <div class="daftar-skill">
        <div data-aos="zoom-in-down" data-aos-easing="ease-in-out" class="nama-skill">{{ a.nama }}</div>
        <div class="ikon-skill val{{ a.nilai }}">
            {% for i in (1..10) %}
            <span data-aos="fade-up-right" data-aos-easing="ease-in-back"></span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}



</div>

</section>