<section class="section4">
    <h3 id="{{site.data.set.menu[2]}}">{{site.data.set.menu[2]}}</h3>


    <div data-aos="slide-right" data-aos-easing="ease-out-sine" class="layar">
{% for a in site.data.set.documents %}
        <div class="isi-layar">
            <!--<div class="foto-layar">-->
                <img class="foto-layar" src="../assets/img/dok/{{a.foto}}">
            <!--</div>-->
            <div class="desc-layar">
                <p><strong>{{a.penerbit}}</strong><br><em>{{a.judul}}</em><br>{{a.teks}}</p>
            </div>
        </div>
{% endfor %}
    </div>


    <div data-aos="flip-up" data-aos-easing="ease-out-sine" class="logo-doc">
        {% for a in site.data.set.documents %}
        <img class="ikon-doc" src="../assets/img/dok/{{ a.ikon }}" align="{{ a.ikon }}">
        {% endfor %}

    </div>

    <div data-aos="flip-right" data-aos-easing="ease-out-sine" class="tombol-hp">
        {% for a in site.data.set.documents %}
        <div class="tombol" ></div>
        {% endfor %}

    </div>

</section>
