<section class="section6">
    <h3 id="{{site.data.set.menu[4].nama}}">{{site.data.set.menu[4].nama}}</h3>
    <div data-aos="zoom-in" data-aos-easing="ease-in-out-sine" class="sosmed">
        {% for a in site.data.set.media %}
        <a onclick='{{a.alert}}' href="{{a.link}}"><img class="ikon-sosmed" src="../assets/img/sosmed/{{a.nama}}"></a>
        {% endfor %}
    </div>
    <a data-aos="fade-right" data-aos-easing="ease-in-out-quad" class="email" href="mailto:{{site.data.set.mail}}">{{site.data.set.mail}}</a>
</section>
