<section class="section6">
    <h3 id="{{site.data.set.menu[4]}}">{{site.data.set.menu[4]}}</h3>
    <div data-aos="zoom-in" data-aos-easing="ease-in-out-sine" class="sosmed">
        {% assign i = 0 %}
        {% for a in site.data.set.social %}
        <a onclick=showAlert("{{i}}");
           ><img class="ikon-sosmed" src="{{site.data.set.imgPath}}/sosmed/{{a.ikon}}.png"></a>
        {% assign i = i | plus:1 %}
        {% endfor %}
    </div>
    <a data-aos="fade-right" data-aos-easing="ease-in-out-quad" class="email" href="mailto:{{site.data.set.mail}}">{{site.data.set.mail}}</a>
</section>

<script>
    const social = JSON.parse(`{{site.data.set.social|jsonify}}`);

    function showAlert(idx){
        const obj = social[idx];

        swal({
            title: obj.title,
            text: obj.text ? obj.text : `You're gonna be redirected to:\n ${obj.link}\n`,
            buttons: {
                cancel: "No, Thanks",
                Continue: true,
            },
            icon: `{{site.data.set.imgPath}}/sosmed/${obj.ikon}.png`
        }).then((value) => {
            switch(value){
                case "Continue":
                    if(obj.link)
                    window.location.assign(obj.link);
                    break;
            }
        });
    }
</script>
