
<section class="sectionabu">

    <h3 id="{{site.data.set.menu[1]}}">{{site.data.set.menu[1]}}</h3>
    <div data-aos="fade" data-aos-easing="ease-in-sine" class="timeline">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for work in site.data.set.experiences %}
                <div class="swiper-slide" data-swiper-autoplay="15000" style="background-image: url('../../assets/img/experiences/{{work.gambar}}')" data-year="{{work.tahun}}">
                    <div class="swiper-slide-content"><span class="timeline-year">{{work.tahun}}</span>
                        <h4 class="timeline-title">{{work.tugas}}</h4>
                        <p class="timeline-text">{{work.ket}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>


</section>
