<header>
    <div class="fix">
        <div class="logo"><a href="#home">{% include /icons/logo.html %}</a></div>
        <div class="burger" onclick="togglemenu();"></div>
        <nav id="navigasi">
            {% for nav in site.data.set.menu %}
            <a href="#{{ nav }}">{{ nav }}</a>
            {% endfor %}
        </nav>
    </div>
    <h1>
        <span data-aos="zoom-in-right" data-aos-easing="ease-in-out-quart">{{ site.data.set.title }}</span>
    </h1>
        <p data-aos="fade-up" data-aos-easing="ease" data-aos-delay="1000" class="deskrip">
            I am a
            {% for tag in site.data.set.banner %}
            <span class="word {{ tag.warna }}">{{ tag.slogan }}</span>
            {% endfor %}
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>

</header>
