
<section class="sectionabu">

    <h3  id="{{site.data.set.menu[3].nama}}">{{site.data.set.menu[3].nama}}</h3>

    <div class="grup-project">
        {% for proj in site.data.set.interests %}

        <div data-aos="fade-down-right" data-aos-easing="ease-out-quart" class="daftar-project" style="background-image: url(../assets/img/project/{{ proj.gambar }})">

            <div class="anim-project" >
                <strong>{{ proj.nama }}</strong>
                <div class="ikon-project" style="background-image: url(../assets/img/project/{{ proj.ikon }})"></div>
            </div>

        </div>
        {% endfor %}

    </div>


</section>
